*{
    box-sizing: border-box;
}
.container1{
        display:flex;
        justify-content: center;
}
.container2{
    width:80%;
    display: flex;
    justify-content: center;
}
.userDetails{
    width:30%;
    background-color: deepskyblue;
    border-radius: 5px;
    margin:5px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.orders{
    width:70%;
    background-color: rgb(254, 254, 144);
    border-radius: 5px;
    margin:5px;
}