<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.sp.Student" name="student1" p:id="123" p:name="nithin" p:address="adoni"/>
    <bean class="com.Collections.Emp">
        <property name="name" value="kalyan"/>
        <property name="phones">
            <list>
            <value>8341957870</value>
            <value>9392797921</value>
            <value>8106009497</value>
            </list>
        </property>
        <property name="addresses">
            <set>
                <value>badvel</value>
                <value>adoni</value>
                <value>bitragunta</value>
            </set>
        </property>
        <property name="courses">
            <map>
                <entry key="java" value="2month"/>
                <entry key="python" value="2month" />`
                <entry key="SQl" value="2month"/>
            </map>
        </property>
    </bean>
    <bean class="com.refer.B" name="bref">
        <property name="y" value="90" />
    </bean>
    <bean class="com.refer.A" name="aref">
        <property name="x" value="12"/>
        <property name="ob">
            <ref bean="bref" />
        </property>
    </bean>
    <bean class="com.CI.Person" name="Person">
        <constructor-arg  value="nithin"/>
        <constructor-arg  value="12"/>
    </bean>
</beans>